
body{
    display: grid;
    height: 100vh;
    grid-template-rows: auto;
    grid-template-columns: repeat(5,20%);
    grid-template-areas: 
    "sidepanel  musicplayer musicplayer musicplayer musicplayer"
    "sidepanel  musicplayer musicplayer musicplayer musicplayer"
    "sidepanel  musicplayer musicplayer musicplayer musicplayer"
    "sidepanel  musicplayer musicplayer musicplayer musicplayer"
    "sidepanel  musicplayer musicplayer musicplayer musicplayer"
    "sidepanel  musicplayer musicplayer musicplayer musicplayer"
    "footer footer footer footer footer"
    ;
    background-color: #dcdbec;
}
footer{
    grid-area: footer;
    background-color:#e7e8f1 ;
    height: auto;
}
tr{
   height: 50px;
  
}
 tr:hover, li:hover, .page-controls button:hover, .active-tab-side-panel{
    background-color: #f8f8fa;
    border-radius: 20px;
}
th{
    text-align: left;
}

ul{
    margin-top: 20px;
}
ul>li{
    display: flex;
    align-items: center;   
    margin-top: 5px;
    font-size: 13px;
    padding: 5px 0;
    color:#d1d3db ;
}

ul>li>img{
    margin-left: 10px;
}
ul>h5{
    margin-bottom: 5px;
}
span, td{
    color:#adb5bd ;
}
.side-panel{
    grid-area: sidepanel;
    background-color: #e1e2ed;
    padding-left: 20px;
    padding-right: 3.5rem;
    overflow-y: auto;
}
.music-player-content{
    grid-area:musicplayer;
    background-color: #e7e8f1;
}
/* .music-player-content{
    grid-area:musicplayer;
} */


.icons{
    height: 24px;
    width: 24px;
}
.home-search-lib-links:first-child{
    margin-top: 2.5rem;
}

.song-details-container, .song-controls,.music-controls,.song-player ,.playback-features ,.account-details{
    display: flex;
    align-items: center;
    justify-content: center;
}
.song-player, .song-details-container, .playback-features{
    flex: 2;
}
.song-details,.song-player{
    flex-direction: column;
}

.music-control-buttons , .page-controls button{
    border: none;
    outline: none;
    background-color: transparent;
}
.music-control-buttons:hover , input[type="range"]{
    cursor: pointer;
}
.user-account-details{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #C7B1EF;
    height: 3rem;

}

.recommended-songs-container{
    padding: 3% 5%;
   
}

.recommended-songs-container h1 {
margin-bottom: 1rem;
}
.music-controls,.music-player-content,.side-panel{
    border-radius: 20px;
    margin: 15px;
    position: relative;
}


.music-list-table{
    border-collapse: collapse;
}

/* Search-div-css */

.search-songs-input-container{
    display: flex;
    justify-content: center;
    height:2.5rem;
    margin-top: 2rem;
}

#mcs{
    display: none;
}

.search-songs-container input{
    width: 70%;
    border: none;
    outline: none;
}
/* Footer CSS */

.volume-control{
    position: relative;
}
.volume-control  input[type='range']{
    position: absolute;
    top :10px;
}

.audio-track  input[type='range']{
    width: 400px;
}
input[type='range'] {

   
    height: 5px;
    -webkit-appearance: none;
    border-radius: 20px;
    /* background-color: #c7b1f0; */
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #c7b1f0;
    margin-top: -1px;
    border-radius: 20px;
    background-color: #d1d3db;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    border-radius: 10px;
    cursor: ew-resize;
    background: #c7b1f0;
  
  }



.main-content-tab-all-songs,.main-content-tab-favourites,.main-content-tab-home,.main-content-tab-search,.main-content-tab-create-playlist,.main-content-tab-play-history,.main-content-tab-your-library{
    display: none;
}
  
.active-tab-main-content{
    display: block;
}