.form-container {
  width: 100%;
  margin: 0;

  height: auto;
}
.main-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: auto;
}
.input-group {
  outline: none;
  border: none;
  width: 25em;
  height: 2.4em;
  margin: 3em 0 6em 0;
}
.form-input {
  width: 100%;
  height: 100%;
}
.success {

  border: 2px solid green;
  transition: 0.5s ease-in;
}
.danger{
  border: 2px solid red;
  transition: 0.2s ease-in;
}
.success-text{

  color: green;
}
.danger-text{
  color: red;
}
label {
  font-weight: bold;
}
input:focus {
  border: 2px solid lightgray;
  outline: 1px solid grey;
}
.form-button {
  font-weight: bold;
  border: none;
  outline: none;
  background-color: #fff;
  width: 25em;
  height: 3em;
  margin: 0.3em 0;
  border-radius: 2rem;
}
#facebook-login {
  color: white;
  background-color: #3a61b3;
}
hr {
  width: 100%;
  background-color: lightgray;
}
.common-login {
  color: #9c9ea0;
  border: 2px solid #9c9ea0;
}
#apple-login {
  color: white;
  background-color: #000;
}
.login-container {
  display: flex;
  justify-content: space-around;
}
.common-login:hover {
  color: #fff;
  background-color: #616467;
  transition: 0.4s ease;
}
#login-btn {
  width: 8em;
  color: white;
  background-color: #1db954;
}
.remember-me-checkbox:focus {
  outline: none;
}
.remember-me-checkbox:checked {
  background-color: #1db954;
}
.spotify-logo{
  width: 500px;
  height: 90px;
  margin: 20px 0;
}
.forgot-password-link{
  margin-top: 50px;
}
